.DS_Store
.httr-oauth
.Rdata
.Rhistory
.Rproj.user
/.luarc.json
/.quarto/
apa_processed.docx
asdf*
example.html
example.docx
example.pdf
example.aux
example.bbl
example.rmarkdown
example.ttt
example.fff
example.log
example.tex
example.typ
example-pdf-man.pdf
example_files/
Features.html
minimal.docx
minimal.html
minimal.pdf
minimal.tex
minimal.ttt
minimal_files/
NEWS.html
README.qmd
tempate.docx.docx
template.aux
template.bbl
template.docx
template.docx.md
template.fff
template.html
template.log
template.md
template.native
template.pdf
template.pdf.md
template.pdf.native
template.rmarkdown
template.ttt
template.tex
template.out
template_files/
test.*
test_*
test_files/
testdocs.R
try*
lorem.bib
apa.csl
*.pptx
