.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
template.ttt
template.tex
template.html
template.pdf
template.fff
template.docx
apa_processed.docx
template.log
template.aux
template.bbl
template_files/
README.qmd
