/*-- scss:defaults --*/


/*-- scss:rules --*/

pre>code.sourceCode {white-space: pre-wrap;}

p code:not(.sourceCode), li code:not(.sourceCode), td code:not(.sourceCode) {
  background: transparent;
  
}

tr:nth-child(even) {
  background-color: #e1e7ed;
}

li.nav-item {border-color: red;}

